config HTFY_EBC
	bool "Htfyun Ebc support"
	depends on DRM_ROCKCHIP
	help
	  The EBC for Htfyun.

config PMIC_EBC_TPS65185
	bool "Htfyun Ebc pmic tps65185 support"
	help
	  The EBC PMIC TPS65185 for Htfyun.

config PMIC_EBC_SY7636A
	bool "Htfyun Ebc pmic sy7636a support"
	help
	  The EBC PMIC SY7636A for Htfyun.

config HTFY_DUMP
	bool "Htfyun dump kernel-buffer support"
	depends on HTFY_EBC
	default no
	help
	  dump kernel buffer by /dev/htdump_ctrl and /dev/htdump_data.

config HTFY_DEBUG
	bool "Htfyun debug prink-log support"
	depends on HTFY_EBC
	default yes
	help
	  config the run-time debug-prink on demand.

