// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/sensor-dev.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/usb/pd.h>
#include "rk3566.dtsi"
#include "rk3568-android.dtsi"
#include "rk3566-eink.dtsi"

#define KLOUDNOTE_LOW
//#define EINK10S 
//#define EINKXK
#ifdef KLOUDNOTE_LOW
#define EINK10S
#define TP_SMALL
#else
#define AOYI103
#endif
//#define TYPEC_fusb30x

/ {
    model = "Rockchip RK3566 EINK KloudNote2 10.3 Board";
    compatible = "rockchip,rk3566-rk817-eink", "rockchip,rk3566";

    ramoops_mem: ramoops_mem {
        reg = <0x0 0x110000 0x0 0xf0000>;
        reg-names = "ramoops_mem";
    };

    ramoops {
        compatible = "ramoops";
        record-size = <0x0 0x20000>;
        console-size = <0x0 0x80000>;
        ftrace-size = <0x0 0x00000>;
        pmsg-size = <0x0 0x50000>;
        memory-region = <&ramoops_mem>;
    };

    charge-animation {
        compatible = "rockchip,uboot-charge";
        rockchip,uboot-charge-on = <0>;
        rockchip,android-charge-on = <0>;
        rockchip,uboot-low-power-voltage = <3350>;
        rockchip,screen-on-voltage = <3400>;
        rockchip,auto-wakeup-interval = <60>;
        status = "okay";
    };

    adc_keys: adc-keys {
        status = "okay";
        compatible = "adc-keys";
        io-channels = <&saradc 0>;
        io-channel-names = "buttons";
        keyup-threshold-microvolt = <1800000>;
        poll-interval = <100>;

        vol-up-key {
            label = "volume up";
            linux,code = <KEY_F11>;
            press-threshold-microvolt = <9000>;
        };

        vol-down-key {
            label = "volume down";
            linux,code = <KEY_F12>;
            press-threshold-microvolt = <235000>;
        };
    };

    gpio_keys: gpio-keys {
        status = "okay";
        compatible = "gpio-keys";
        autorepeat;

        HOME {
            label = "GPIO Key Home";
            gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
            debounce-interval = <10>;
            linux,input-type = <EV_KEY>;
            linux,code = <KEY_HOMEPAGE>;
            wakeup-source;
            wakeup-event-action = <0x01>;
        };
    };

    leds: gpio-leds {
        compatible = "gpio-leds";
        pinctrl-names = "default";
        pinctrl-0 =<&leds_gpio>;

        led@1 {
            gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "battery-full";
            label = "battery_full";
            retain-state-suspended;
        };

        led@2 {
            gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "battery-charging";
            label = "battery_charging";
            retain-state-suspended;
        };
    };

    hall_sensor: hall-mh248 {
        compatible = "hall-mh248";
        irq-gpio = <&gpio0 RK_PA0 IRQ_TYPE_EDGE_BOTH>;
        hall-active = <1>;
        status = "disabled";
    };

    vccsys: vccsys {
        compatible = "regulator-fixed";
        regulator-name = "vcc3v8_sys";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <3800000>;
        regulator-max-microvolt = <3800000>;
    };

    rk817_sound: rk817-sound {
        compatible = "simple-audio-card";
        simple-audio-card,format = "i2s";
        simple-audio-card,name = "rockchip,rk817-codec";
        simple-audio-card,mclk-fs = <256>;

        simple-audio-card,cpu {
            sound-dai = <&i2s1_8ch>;
        };
        simple-audio-card,codec {
            sound-dai = <&rk817_codec>;
        };
    };

    sdio_pwrseq: sdio-pwrseq {
        compatible = "mmc-pwrseq-simple";
        clocks = <&rk817 1>;
        clock-names = "ext_clock";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_enable_h>;

        /*
         * On the module itself this is one of these (depending
         * on the actual card populated):
         * - SDIO_RESET_L_WL_REG_ON
         * - PDN (power down when low)
         */
        post-power-on-delay-ms = <200>;
        reset-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_LOW>;
    };

    wireless-wlan {
        compatible = "wlan-platdata";
        rockchip,grf = <&grf>;
        wifi_chip_type = "ap6255";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_vbat &wifi_host_wake_irq>;
        WIFI,host_wake_irq = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    wireless-bluetooth {
        compatible = "bluetooth-platdata";
        clocks = <&rk817 1>;
        clock-names = "ext_clock";
        wifi-bt-power-toggle;
        uart_rts_gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
        pinctrl-names = "default", "rts_gpio";
        pinctrl-0 = <&uart1m0_rtsn>, <&bt_reset_gpio>, <&bt_wake_gpio>, <&bt_irq_gpio>;
        pinctrl-1 = <&uart1_gpios>;
        BT,reset_gpio = <&gpio0 RK_PC4 GPIO_ACTIVE_HIGH>;
        BT,wake_gpio = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
        BT,wake_host_irq = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&ebc {
    /* clock rate 1000M/n, (n=1~32) */
    assigned-clocks = <&cru CPLL_333M>, <&cru DCLK_EBC>;
	#ifdef EINKXK
    assigned-clock-rates = <34000000>, <34000000>;
	#elif defined(AOYI103)
	// stand: 46000000, increase 10%=50600000, set to 49M first.
	assigned-clock-rates = <49000000>, <49000000>; 
	#else
	assigned-clock-rates = <34000000>, <34000000>;
	#endif 
    status = "okay";
};

&ebc_dev {
    pmic = <&tps65185 &sy7636a>;
    //backlight = <&backlight>;
    status = "okay";
	
    /* ES103TC1 */
#ifdef EINK10S	
    panel,width = <1872>;
    panel,height = <1404>;
    panel,vir_width = <1872>;
    panel,vir_height = <1404>;
    panel,sdck = <34000000>; // 20220530: fix for new-clk asignment.
    panel,lsl = <18>;
    panel,lbl = <17>;
    panel,ldl = <234>;
    panel,lel = <7>;
    panel,gdck-sta = <34>;
    panel,lgonl = <192>;
    panel,fsl = <1>;
    panel,fbl = <4>;
    panel,fdl = <1404>;
    panel,fel = <2>;
    panel,mirror = <0>;
    panel,panel_16bit = <1>;
    panel,panel_color = <0>;
    panel,width-mm = <210>;
    panel,height-mm = <157>;
    panel,dpi = <220>;
    panel,vcom-mv = <1670>;
#elif defined(EINKXK)	
	panel,width = <2480>;
    panel,height = <1860>;
    panel,vir_width = <2480>;
    panel,vir_height = <1860>;
    panel,sdck = <34000000>; // 20220627: the real clk is 63M HZ.
    panel,lsl = <14>;
    panel,lbl = <8>;
    panel,ldl = <310>;
    panel,lel = <51>;
    panel,gdck-sta = <34>;
    panel,lgonl = <192>;
    panel,fsl = <2>;
    panel,fbl = <4>;
    panel,fdl = <1860>;
    panel,fel = <4>;
    panel,mirror = <0>;
    panel,panel_16bit = <1>;
    panel,panel_color = <0>;
    panel,width-mm = <210>;
    panel,height-mm = <157>;
    panel,dpi = <300>;
    panel,vcom-mv = <1670>;
#elif defined(AOYI103)
	panel,width = <2240>;
    panel,height = <1680>;
    panel,vir_width = <2240>;
    panel,vir_height = <1680>;
    panel,sdck = <46000000>; //<34000000>; // 20220530: fix for new-clk asignment.
    panel,lsl = <18>;
    panel,lbl = <17>;
    panel,ldl = <280>;
    panel,lel = <7>;
    panel,gdck-sta = <10>;
    panel,lgonl = <288>;
    panel,fsl = <1>;
    panel,fbl = <4>;
    panel,fdl = <1680>;
    panel,fel = <5>;
    panel,mirror = <0>;
    panel,panel_16bit = <1>;
    panel,panel_color = <0>;
    panel,width-mm = <210>;
    panel,height-mm = <157>;
    panel,dpi = <300>;
    panel,vcom-mv = <1830>;
#else
	"Error:No EINK-PANEL defined!!"
#endif 
};

// 20220523,hsl fix: 6*fb_size + 2*lcd_size + 512K 
// 10.3: 6*2628288 + 2*657088 + 512*1024= 17608192 = 0X10CAE00
// EINKX: 4612800*6 + 2*1153216 + 512*1024 = 27676800 + 2306432 + 524288 = 30507520 = 1D18200
// 20230213: for serria-C,dither-error-buf is short. 17608192 + 2628288*2 = 22864768 = 0x15CE380
// OED103H: 8*3763200 + 940800*2 + 524288 = 994688 + 38063104 = 39057792 = 0x253F980
&display_reserved {
	#ifdef EINKXK
	reg = <0x0 0x10900000 0x0 0x1D1A000>;
	#elif defined(AOYI103)
	reg = <0x0 0x10900000 0x0 0x2540000>;
	#else 
	reg = <0x0 0x10900000 0x0 0x15d0000>;
	#endif 
};
		
&cpu0 {
    cpu-supply = <&vdd_cpu>;
};

&csi2_dphy_hw {
    status = "okay";
};

&csi2_dphy0 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;
        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi_in_ucam0: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&gc5035_out>;
                data-lanes = <1 2>;
            };
        };
        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            csidphy0_out: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&isp0_in>;
            };
        };
    };
};

&gpu {
    mali-supply = <&vdd_gpu>;
    status = "okay";
};

&hdmi {
    status = "disabled";
};

&hdmi_in_vp0 {
    status = "disabled";
};

&hdmi_in_vp1 {
    status = "disabled";
};

&i2c0 {
    status = "okay";

    vdd_cpu: tcs4525@1c {
        compatible = "tcs,tcs452x";
        reg = <0x1c>;
        vin-supply = <&vccsys>;
        regulator-compatible = "fan53555-reg";
        regulator-name = "vdd_cpu";
        regulator-min-microvolt = <712500>;
        regulator-max-microvolt = <1390000>;
        regulator-init-microvolt = <900000>;
        regulator-ramp-delay = <2300>;
        fcs,suspend-voltage-selector = <0>;
        regulator-initial-mode = <0x2>;
        regulator-boot-on;
        regulator-always-on;
        regulator-state-mem {
            regulator-on-in-suspend;
            regulator-suspend-microvolt = <1100000>;
            regulator-changeable-in-suspend;
        };
    };

    rk817: pmic@20 {
        compatible = "rockchip,rk817";
        reg = <0x20>;
        interrupt-parent = <&gpio0>;
        interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

        pinctrl-names = "default", "pmic-sleep", "pmic-power-off", "pmic-reset";
        pinctrl-0 = <&pmic_int>;
        pinctrl-1 = <&soc_slppin_slp>, <&rk817_slppin_slp>;
        pinctrl-2 = <&soc_slppin_gpio>, <&rk817_slppin_pwrdn>;
        pinctrl-3 = <&soc_slppin_rst>, <&rk817_slppin_rst>;
        rockchip,system-power-controller;
        wakeup-source;
        #clock-cells = <1>;
        clock-output-names = "rk808-clkout1", "rk808-clkout2";
        //fb-inner-reg-idxs = <2>;
        /* 1: rst regs (default in codes), 0: rst the pmic */
        pmic-reset-func = <1>;
        /* not save the PMIC_POWER_EN register in uboot */
        not-save-power-en = <1>;
        vcc1-supply = <&vccsys>;
        vcc2-supply = <&vccsys>;
        vcc3-supply = <&vccsys>;
        vcc4-supply = <&vccsys>;
        vcc5-supply = <&vccsys>;
        vcc6-supply = <&vccsys>;
        vcc7-supply = <&vccsys>;
        vcc8-supply = <&vccsys>;
        vcc9-supply = <&dcdc_boost>;

        pwrkey {
            status = "okay";
        };

        pinctrl_rk8xx: pinctrl_rk8xx {
            gpio-controller;
            #gpio-cells = <2>;

            rk817_slppin_null: rk817_slppin_null {
                pins = "gpio_slp";
                function = "pin_fun0";
            };

            rk817_slppin_slp: rk817_slppin_slp {
                pins = "gpio_slp";
                function = "pin_fun1";
            };

            rk817_slppin_pwrdn: rk817_slppin_pwrdn {
                pins = "gpio_slp";
                function = "pin_fun2";
            };

            rk817_slppin_rst: rk817_slppin_rst {
                pins = "gpio_slp";
                function = "pin_fun3";
            };
        };

        regulators {
            vdd_logic: DCDC_REG1 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <500000>;
                regulator-max-microvolt = <1350000>;
                regulator-init-microvolt = <900000>;
                regulator-ramp-delay = <6001>;
                regulator-initial-mode = <0x2>;
                regulator-name = "vdd_logic";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-suspend-microvolt = <900000>;
                    regulator-changeable-in-suspend;
                };
            };

            vdd_gpu: DCDC_REG2 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <500000>;
                regulator-max-microvolt = <1350000>;
                regulator-init-microvolt = <900000>;
                regulator-ramp-delay = <6001>;
                regulator-initial-mode = <0x2>;
                regulator-name = "vdd_gpu";
                    regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-changeable-in-suspend;
                };
            };

            vcc_ddr: DCDC_REG3 {
                regulator-always-on;
                regulator-boot-on;
                regulator-initial-mode = <0x2>;
                regulator-name = "vcc_ddr";
                regulator-state-mem {
                    regulator-on-in-suspend;
                };
            };

            vcc_3v3: DCDC_REG4 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-initial-mode = <0x2>;
                regulator-name = "vcc_3v3";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-changeable-in-suspend;
                };
            };

            vcca1v8_pmu: LDO_REG1 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                regulator-name = "vcca1v8_pmu";
                regulator-state-mem {
                    regulator-on-in-suspend;
                    regulator-suspend-microvolt = <1800000>;
                    regulator-changeable-in-suspend;
                };
            };

            vdda_0v9: LDO_REG2 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <900000>;
                regulator-max-microvolt = <900000>;
                regulator-name = "vdda_0v9";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-changeable-in-suspend;
                };
            };

            vdda0v9_pmu: LDO_REG3 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <900000>;
                regulator-max-microvolt = <900000>;
                regulator-name = "vdda0v9_pmu";
                regulator-state-mem {
                    regulator-on-in-suspend;
                    regulator-suspend-microvolt = <900000>;
                    regulator-changeable-in-suspend;
                };
            };

            vccio_acodec: LDO_REG4 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                regulator-name = "vccio_acodec";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-changeable-in-suspend;
                };
            };

            vccio_sd: LDO_REG5 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-name = "vccio_sd";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-changeable-in-suspend;
                };
            };

            vcc3v3_pmu: LDO_REG6 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-name = "vcc3v3_pmu";
                regulator-state-mem {
                    regulator-on-in-suspend;
                    regulator-suspend-microvolt = <3000000>;
                    regulator-changeable-in-suspend;
                };
            };

            vcc_1v8: LDO_REG7 {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                regulator-name = "vcc_1v8";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-changeable-in-suspend;
                };
            };

            vcc_tp: LDO_REG8 {
                regulator-min-microvolt = <3000000>;
                regulator-max-microvolt = <3000000>;
                regulator-name = "vcc_tp";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-suspend-microvolt = <3000000>;
                    regulator-changeable-in-suspend;
                };
            };

            sleep_sta_ctl: LDO_REG9 {
                regulator-name = "sleep_sta_ctl";
                regulator-state-mem {
                    regulator-on-in-suspend;
                    regulator-suspend-microvolt = <3300000>;
                    regulator-changeable-in-suspend;
                };
            };

            dcdc_boost: BOOST {
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <4700000>;
                regulator-max-microvolt = <5400000>;
                regulator-name = "boost";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-changeable-in-suspend;
                };
            };

            otg_switch: OTG_SWITCH {
                regulator-name = "otg_switch";
                regulator-state-mem {
                    regulator-off-in-suspend;
                    regulator-changeable-in-suspend;
                };
            };
        };

        battery {
            compatible = "rk817,battery";
            ocv_table = <3400 3513 3578 3687 3734 3752 3763
                     3766 3771 3784 3804 3836 3885 3925
                     3962 4005 4063 4114 4169 4227 4303>;
            design_capacity = <4150>;
            design_qmax = <4565>;
            bat_res = <100>;
            sleep_enter_current = <150>;
            sleep_exit_current = <180>;
            sleep_filter_current = <100>;
            power_off_thresd = <3450>;
            zero_algorithm_vol = <3850>;
            max_soc_offset = <60>;
            monitor_sec = <5>;
            sample_res = <10>;
            virtual_power = <0>;
            low_power_sleep = <1>;
        };

        charger {
            compatible = "rk817,charger";
            min_input_voltage = <4500>;
            max_input_current = <1500>;
            max_chrg_current = <2000>;
            max_chrg_voltage = <4300>;
            chrg_term_mode = <0>;
            chrg_finish_cur = <300>;
            virtual_power = <0>;
            dc_det_adc = <0>;
            extcon = <&usb2phy0>;
            gate_function_disable = <1>;
        };

        rk817_codec: codec {
            #sound-dai-cells = <0>;
            compatible = "rockchip,rk817-codec";
            clocks = <&cru I2S1_MCLKOUT>;
            clock-names = "mclk";
            assigned-clocks = <&cru I2S1_MCLKOUT>, <&cru I2S1_MCLK_TX_IOE>;
            assigned-clock-rates = <12288000>;
            assigned-clock-parents = <&cru I2S1_MCLKOUT_TX>, <&cru I2S1_MCLKOUT_TX>;
            pinctrl-names = "default";
            pinctrl-0 = <&i2s1m0_mclk>;
            hp-volume = <20>;
            spk-volume = <3>;
            out-l2spk-r2hp;
            use-ext-amplifier;
            status = "okay";
        };
    };
};

&i2c1 {
    status = "okay";
    tsc@24 {
        status = "okay";
        compatible = "cy,cyttsp5_i2c_adapter";
        reg = <0x24>;
        cy,adapter_id = "cyttsp5_i2c_adapter";
        pinctrl-names = "default";
        pinctrl-0 = <&tsc_gpio>;
        cytp-supply = <&vcc_tp>;
        cy,core {
            cy,name = "cyttsp5_core";
            cy,irq_gpio =  <&gpio0 RK_PC1 IRQ_TYPE_LEVEL_LOW>;
            cy,rst_gpio =  <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
            cy,hid_desc_register = <1>;
            /* CY_CORE_FLAG_RESTORE_PARAMETERS */
            cy,flags = <6>;
            /* CY_CORE_EWG_NONE */
            cy,easy_wakeup_gesture = <0>;
            cy,mt {
                cy,name = "cyttsp5_mt";
                cy,inp_dev_name = "cyttsp5_mt";
                cy,flags = <0x00>; //0x20: CY_MT_FLAG_INV_Y  CY_MT_FLAG_FLIP = 0x08 CY_MT_FLAG_INV_X = 0x10,
                cy,abs =
                    /* ABS_MT_POSITION_X, CY_ABS_MIN_X, CY_ABS_MAX_X, 0, 0 */
                    <0x35 0 1872 0 0
                    /* ABS_MT_POSITION_Y, CY_ABS_MIN_Y, CY_ABS_MAX_Y, 0, 0 */
                    0x36 0 1404 0 0
                    /* ABS_MT_PRESSURE, CY_ABS_MIN_P, CY_ABS_MAX_P, 0, 0 */
                    0x3a 0 255 0 0
                    /* CY_IGNORE_VALUE, CY_ABS_MIN_W, CY_ABS_MAX_W, 0, 0 */
                    0xffff 0 255 0 0
                    /* ABS_MT_TRACKING_ID, CY_ABS_MIN_T, CY_ABS_MAX_T, 0, 0 */
                    0x39 0 15 0 0
                    /* ABS_MT_TOUCH_MAJOR, 0, 255, 0, 0 */
                    0x30 0 255 0 0
                    /* ABS_MT_TOUCH_MINOR, 0, 255, 0, 0 */
                    0x31 0 255 0 0
                    /* ABS_MT_ORIENTATION, -127, 127, 0, 0 */
                    0x34 0xffffff81 127 0 0
                    /* ABS_MT_TOOL_TYPE, 0, MT_TOOL_MAX, 0, 0 */
                    0x37 0 1 0 0
                    /* ABS_DISTANCE, 0, 255, 0, 0 */
                    0x19 0 255 0 0>;

                    cy,vkeys_x = <1872>;
                    cy,vkeys_y = <1404>;
            };
        };
    };
    gt9xx@14 {
        compatible = "goodix,gt9xx";
        reg = <0x14>; 
        status = "okay";
        //interrupt-parent = <&msm_gpio>;
        //interrupts = <13 0x2800>;
        pinctrl-names = "default";
        pinctrl-0 = <&tsc_gpio>;
        reset-gpios = <&gpio0 RK_PC2 GPIO_ACTIVE_LOW>;
        irq-gpios  = <&gpio0 RK_PC1 IRQ_TYPE_LEVEL_LOW>;
        irq-flags = <2>;

        touchscreen-max-id = <11>;
#ifdef TP_SMALL
        touchscreen-size-x = <1872>;
        touchscreen-size-y = <1404>;
#else
        touchscreen-size-x = <2240>;
        touchscreen-size-y = <1680>;
#endif
        touchscreen-max-w = <512>;
        touchscreen-max-p = <512>;
        touchscreen-key-map = <172>, <158>; /*KEY_HOMEPAGE=172, KEY_BACK=158£¬KEY_MENU=139*/

        goodix,slide-wakeup = <0>;
        goodix,type-a-report = <0>;
        goodix,driver-send-cfg = <1>;
        goodix,resume-in-workqueue = <0>;
        goodix,int-sync = <1>;
        goodix,swap-x2y = <1>;
        goodix,x2x = <1>;
        goodix,y2y = <0>;
        goodix,esd-protect = <1>;
        goodix,auto-update-cfg = <0>;
        goodix,power-off-sleep = <0>;
        goodix,pen-suppress-finger = <0>;
#ifdef TP_SMALL
		goodix,cfg-group0 = [
			65 50 07 7C 05 0A 05 00 01 0F 28 05 5F 46 03 05 00 00 00 00 00 00 08 00 00 00 00 90 30 CC 65 67 D9 0B 00 00 01 BB 02 1C 00 00 00 00 00 03 00 00 00 00 00 46 78 94 C0 02 07 00 00 04 91 49 00 89 52 00 84 5B 00 7F 66 00 7D 71 00 7D 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 01 04 05 06 07 08 09 0C 0D 0E 0F 10 11 14 15 16 17 18 19 1A 1B 1C 1D 00 00 00 00 00 00 00 02 04 06 07 08 0A 0C 0D 0E 0F 10 11 12 13 14 19 1B 1C 1E 1F 20 21 22 23 24 25 26 27 28 29 2A 00 00 00 00 00 00 00 00 00 00 59 01
		];
#else
		goodix,cfg-group0 = [
			64 C0 08 90 06 0A 05 00 01 0F 28 05 5F 46 03 05 00 00 00 00 00 00 08 00 00 00 00 90 30 CC 65 67 D9 0B 00 00 01 BB 02 1D 00 00 00 00 00 03 00 00 00 00 00 46 78 94 C0 02 07 00 00 04 91 49 00 89 52 00 84 5B 00 7F 66 00 7D 71 00 7D 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 01 04 05 06 07 08 09 0C 0D 0E 0F 10 11 14 15 16 17 18 19 1A 1B 1C 1D 00 00 00 00 00 00 00 02 04 06 07 08 0A 0C 0D 0E 0F 10 11 12 13 14 19 1B 1C 1E 1F 20 21 22 23 24 25 26 27 28 29 2A 00 00 00 00 00 00 00 00 00 00 D3 01
		];
#endif
    };
};

&i2c3 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c3m1_xfer>;

    wacom: wacom@09 {
        status = "okay";
        compatible = "wacom,10S12MI";
        reg = <0x09>;
        hid-descr-addr = <0x0001>;
        pwr-supply = <&vcc_tp>;
        pinctrl-names = "default";
        pinctrl-0 = <&wacom_gpio>;
        gpio_detect = <&gpio0 RK_PB5 GPIO_ACTIVE_LOW>;
        gpio_intr = <&gpio0 RK_PB6 GPIO_ACTIVE_LOW>;
        gpio_rst = <&gpio0 RK_PA6 GPIO_ACTIVE_LOW>;
        revert_x = <1>;
        revert_y = <1>;
        xy_exchange = <0>;
        wacom-support-wakeup;
    };

    tps65185: tps65185@68 {
        status = "okay";
        compatible = "ti,tps65185";
        reg = <0x68>;
        pinctrl-names = "default";
        pinctrl-0 = <&einkpmic_gpio>;
        wakeup-gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
        vcomctl-gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
        //int-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
        powerup-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;//uboot/power up
        //poweren-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;//suspend/resume/sleep,before powerup pin
        error-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;   // 20210714: when error, output low. power good, output high.
    };

    sy7636a: sy7636a@62 {
        status = "okay";
        compatible = "sy7636a";
        reg = <0x62>;
        pinctrl-names = "default";
        pinctrl-0 = <&einkpmic_gpio>;
        powerup-gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_HIGH>;
        vcomctl-gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
        error-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
        vdd-gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_HIGH>;
        pmicon-gpios  = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;
    };

#if 0 //def TYPEC_fusb30x
    usbc0: fusb30x@22 {
        status = "okay";
        compatible = "fairchild,fusb302";
        reg = <0x22>;
        pinctrl-names = "default";
        pinctrl-0 = <&fusb0_int>;
        //pinctrl-0 = <&fusb0_int>, <&fusb0_switch>;
        power-supply = <&vccio_sd>;
        //vbus-5v-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
        int-n-gpios = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
        switch-gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_LOW>;
    };
//#else
    usbc0: et7303@4e {
        status = "okay";
        compatible = "etek,et7303";
        reg = <0x4e>;
        interrupt-parent = <&gpio0>;
        interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
        pinctrl-names = "default";
        pinctrl-0 = <&et7303_int>;

        usb_con: connector {
            data-role = "dual";
            power-role = "dual";
            try-power-role = "sink";
            sink-pdos = <PDO_FIXED(5000, 2000, PDO_FIXED_USB_COMM)>;
            source-pdos = <PDO_FIXED(5000, 2000, PDO_FIXED_USB_COMM)>;
            op-sink-microwatt = <10000000>;
        };
    };
#endif

};

&i2c4 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c4m1_xfer>;

    es7210@40 {
        compatible = "ES7210_MicArray_0";
        power-supply = <&vcc_3v3>;
        reg = <0x40>;
        status = "okay";
    };

    htfyun-aw87519@58 {
        compatible = "htfyun-aw87519";
        reg = <0x58>;
        pinctrl-names = "default";
        pinctrl-0 = <&aw87519_reset_pinctrl>;
        reset-gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&i2c5 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c5m1_xfer>;

    gc5035: gc5035@37 {
        compatible = "galaxycore,gc5035";
        status = "okay";
        reg = <0x37>;
        clocks = <&cru CLK_CAM0_OUT>;
        clock-names = "xvclk";
        power-domains = <&power RK3568_PD_VI>;
        pinctrl-names = "rockchip,camera_default", "rockchip,camera_sleep", "pwen", "pwdn";
        pinctrl-0 = <&cam_clkout0>;
        pinctrl-1 = <&cam_sleep>;
        pinctrl-2 = <&pwer_en>;
        pinctrl-3 = <&pwer_dn>;

		//reset pin control by hardware,used this pin switch to mipi input
		//0->FRONT camera, 1->REAR camera
        pwen-gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio3 RK_PC4 GPIO_ACTIVE_HIGH>;
        pwdn-gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "front";
        rockchip,camera-module-name = "P10K";
        rockchip,camera-module-lens-name = "DL5020";
        port {
            gc5035_out: endpoint {
                remote-endpoint = <&mipi_in_ucam0>;
                data-lanes = <1 2>;
            };
        };
    };
};

&i2s0_8ch {
    status = "disabled";
};

&i2s1_8ch {
    status = "okay";
    rockchip,clk-trcm = <1>;
    pinctrl-names = "default";
    pinctrl-0 = <&i2s1m0_sclktx &i2s1m0_lrcktx &i2s1m0_sdi0 &i2s1m0_sdo0>;
};

&spi3 {
    status = "okay";
    max-freq = <48000000>;
    pinctrl-names = "default";
    pinctrl-0 = <&spi3m1_cs0 &spi3m1_pins>;

    fingerprint: ft9366@0 {
        compatible = "focaltech,fingerprint-spidev";
        reg = <0>;
        spi-max-frequency = <1000000>;
        fingerprint,en-gpio = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
        fingerprint,touch-int-gpio = <&gpio0 RK_PC0 IRQ_TYPE_EDGE_RISING>;
        fingerprint,gpio_reset = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&jpegd {
    status = "okay";
};

&jpegd_mmu {
    status = "okay";
};

&video_phy0 {
    status = "okay";
};

&mpp_srv {
    status = "okay";
};

&nandc0 {
    status = "disabled";
};

&pinctrl {
    cam {
        cam_clkout0: cam-clkout0 {
            rockchip,pins =
                /* cam_clkout0 */
                <4 RK_PA7 1 &pcfg_pull_none>;
        };

        cam_sleep: cam-sleep {
            rockchip,pins =
                /* cam_sleep */
                <4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        pwer_en: pwer-en {
            rockchip,pins =
                <3 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
        };

        pwer_dn: pwer-dn {
            rockchip,pins =
                <3 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    wacom {
        wacom_gpio: wacom-gpio {
            rockchip,pins =
                <0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>,
                <0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>,
                <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    fusb30x {
        fusb0_int: fusb0-int {
            rockchip,pins = <0 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>;
        };

        fusb0_switch: fusb0-switch {
            rockchip,pins = <3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    tsc {
        tsc_gpio: tsc-gpio {
            rockchip,pins =
                <0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
                <0 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    leds {
        leds_gpio: leds-gpio {
            rockchip,pins =
                <3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>,
                <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

	eink_pmic {
        einkpmic_gpio: einkpmic-gpio {
            rockchip,pins =
                <3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>,
                <3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>,
                <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_down>,
                <3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>,
                <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

    pmic {
        pmic_int: pmic_int {
            rockchip,pins =
                <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
        };

        soc_slppin_gpio: soc_slppin_gpio {
            rockchip,pins =
                <0 RK_PA2 RK_FUNC_GPIO &pcfg_output_low_pull_down>;
        };

        soc_slppin_slp: soc_slppin_slp {
            rockchip,pins =
                <0 RK_PA2 RK_FUNC_1 &pcfg_pull_up>;
        };

        soc_slppin_rst: soc_slppin_rst {
            rockchip,pins =
                <0 RK_PA2 RK_FUNC_2 &pcfg_pull_none>;
        };
    };

    sdio-pwrseq {
        wifi_enable_h: wifi-enable-h {
            rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

    wireless-wlan {
        wifi_vbat: wifi-vbat {
            rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        wifi_host_wake_irq: wifi-host-wake-irq {
            rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    wireless-bluetooth {
        uart1_gpios: uart1-gpios {
            rockchip,pins = <2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        bt_reset_gpio: bt-reset-gpio {
            rockchip,pins = <0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        bt_wake_gpio: bt-wake-gpio {
            rockchip,pins = <0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        bt_irq_gpio: bt-irq-gpio {
            rockchip,pins = <0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    aw87519_reset_pin {
        aw87519_reset_pinctrl: aw87519-reset-pinctrl {
            rockchip,pins = <1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };
};

&pmu_io_domains {
    status = "okay";
    pmuio1-supply = <&vcc3v3_pmu>;
    pmuio2-supply = <&vcca1v8_pmu>;
    vccio1-supply = <&vccio_acodec>; // 1.8v
    vccio2-supply = <&vcc_1v8>;
    vccio3-supply = <&vccio_sd>; // 3.3v
    vccio4-supply = <&vcca1v8_pmu>;
    vccio5-supply = <&vcc_1v8>;
    vccio6-supply = <&vcc_3v3>;
    vccio7-supply = <&vcca1v8_pmu>;
};

&pwm0 {
    status = "okay";
};

&rk_rga {
    status = "okay";
};

&rkisp {
    status = "okay";
};

&rkisp_mmu {
    status = "okay";
};

&rkisp_vir0 {
    status = "okay";

    port {
        #address-cells = <1>;
        #size-cells = <0>;

        isp0_in: endpoint@0 {
            reg = <0>;
            remote-endpoint = <&csidphy0_out>;
        };
    };
};

&rkvdec {
    status = "okay";
};

&rkvdec_mmu {
    status = "okay";
};

&rkvenc {
    status = "okay";
};

&rkvenc_mmu {
    status = "okay";
};

&rockchip_suspend {
    status = "okay";

    rockchip,regulator-off-in-mem-lite =
        <&vdd_cpu>, <&vdd_logic>, <&vdd_gpu>, <&vcc_3v3>, <&vdda_0v9>, <&vcc_1v8>,
        <&vccio_acodec>, <&dcdc_boost>, <&otg_switch>,
        <&sleep_sta_ctl>;
    rockchip,regulator-on-in-mem-lite =
        <&vcc_ddr>, <&vdda0v9_pmu>, <&vcca1v8_pmu>, <&vcc3v3_pmu>, <&vcc_tp>, <&vccio_sd>;

    rockchip,regulator-off-in-mem =
        <&vdd_cpu>, <&vdd_logic>, <&vdd_gpu>, <&vcc_tp>, <&vcc_3v3>, <&vdda_0v9>, <&vcc_1v8>,
        <&vccio_acodec>, <&dcdc_boost>, <&otg_switch>,
        <&sleep_sta_ctl>;
    rockchip,regulator-on-in-mem =
        <&vcc_ddr>, <&vdda0v9_pmu>, <&vcca1v8_pmu>, <&vcc3v3_pmu>, <&vccio_sd>;

    rockchip,regulator-off-in-mem-ultra =
        <&vdd_logic>, <&vdd_gpu>, <&vcc_ddr>, <&vcc_3v3>, <&vdda_0v9>, <&vcc_1v8>,
        <&vdda0v9_pmu>, <&vcca1v8_pmu>, <&vcc3v3_pmu>, <&vccio_acodec>, <&vccio_sd>,
        <&vcc_tp>, <&dcdc_boost>, <&otg_switch>;
    rockchip,regulator-on-in-mem-ultra = <&vdd_cpu>, <&sleep_sta_ctl>;
};

&saradc {
    status = "okay";
    vref-supply = <&vcc_1v8>;
};

&sdhci {
    bus-width = <8>;
    supports-emmc;
    non-removable;
    keep-power-in-suspend;
    max-frequency = <200000000>;
    status = "okay";
};

&sdmmc0 {
    max-frequency = <50000000>;
    supports-sd;
    bus-width = <4>;
    cap-mmc-highspeed;
    cap-sd-highspeed;
    disable-wp;
    sd-uhs-sdr104;
    card-detect-delay = <300>;//can wait the power is stabled.
    vmmc-supply = <&vccio_sd>;//the sdcard work power.
    vqmmc-supply = <&vccio_sd>;//the sdcard io power.
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd>;
    cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
    cd-inverted;
    status = "disabled";
};

&sdmmc1 {
    max-frequency = <150000000>;
    supports-sdio;
    bus-width = <4>;
    disable-wp;
    cap-sd-highspeed;
    cap-sdio-irq;
    keep-power-in-suspend;
    mmc-pwrseq = <&sdio_pwrseq>;
    non-removable;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
    sd-uhs-sdr104;
    rockchip,default-sample-phase = <90>;
    status = "okay";
};

&tsadc {
    status = "okay";
};

&uart1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn>;
};

&u2phy0_otg {
    status = "okay";
};

&usb2phy0 {
    status = "okay";
    //extcon = <&usbc0>;
};

&usbdrd_dwc3 {
    status = "okay";
    //extcon = <&usbc0>;
};

&usbdrd30 {
    status = "okay";
};

&vdpu {
    status = "okay";
};

&vdpu_mmu {
    status = "okay";
};

&vepu {
    status = "okay";
};

&vepu_mmu {
    status = "okay";
};

&vop {
    status = "okay";
};

&vop_mmu {
    status = "okay";
};
